.Footer{
    flex:1;
    background-color: #255EE1;
    color: whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica;
}